__pycache__
.env
**/reliable_exported_tables
**/exported_tables
automation/help.py
OneDrive_1_6-17-2025
Hersheys
epr-temp
PrSupplies
.DS_Store
automation/catstolook
automation/categories
automation/etl/both
automation/etl/colgatevsiri
**.csv
**.xlsx




